body {
  font-family: 'Droid Sans', arial, sans-serif;
  font-weight: 300;
  background: url(sky.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
#wrapper {
  width: 960px;
  margin: 20px auto;
}

table {
	line-height: 3;

}